@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-start: #ff4f37;
  --orange-mid: #ff6347;
  --orange-end: #ffa07a;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

